.up-To-Home{
    margin-top: 60px;
    width: 100%;
}
.up-To-Home .container{
    width: 100%;
}
.up-To-Home .container img{
    float: right;
    cursor: pointer;
    margin-bottom: 40px;
}